@import "../../vars";

.Hero {
  @include flex(column, center, center);

  background: linear-gradient(#d9102399, rgba(0, 0, 0, 0.1)),
    url("../../images/peruhero.jpg") center/cover no-repeat;
  min-height: calc(100vh - 100px);
  width: 100%;
}
