@import "../../../vars";

.TourCard {
  height: 300px;
  width: 300px;
  background: white;
  margin: 3rem;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);

  @include min-width(600px) {
    height: 400px;
    width: 400px;
  }
}

.Top {
  height: 60%;
  background: $primary;
  position: relative;

  .Image {
    height: 100%;
    transition: 1s;
  }

  &:hover {
    .Image {
      opacity: 0.6;
    }
  }
}

.Bottom {
  height: 40%;
  padding: 1.5rem;

  h1 {
    @include font("M");

    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    @include font("S");

    color: $primary;
    letter-spacing: 0.5rem;

    .Icon {
      margin-right: 0.5rem;
    }
  }
}

.Info {
  @include flex(row, space-between, flex-start);

  div {
    @include flex(column, flex-start, flex-end);
    p {
      font-size: 1.5rem;
      line-height: 2.25rem;
      letter-spacing: 0.5rem;
    }
  }
}
